<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>MyCookie - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/front_style.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'front/navbar.html.twig' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('build/front_js.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
